<manifest>

    <!--    <application-->
    <!--        android:icon="@mipmap/ic_launcher"-->
    <!--        android:label="@string/str_module_mine"-->
    <!--        android:roundIcon="@mipmap/ic_launcher_round"-->
    <!--        android:theme="@style/AppTheme">-->

    <!--        <activity-->
    <!--            android:name=".MineActivity"-->
    <!--            android:launchMode="singleTop">-->
    <!--            <intent-filter>-->
    <!--                <action android:name="android.intent.action.MAIN" />-->
    <!--                <category android:name="android.intent.category.LAUNCHER" />-->
    <!--            </intent-filter>-->
    <!--        </activity>-->

    <!--    </application>-->

</manifest>
